*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color:bisque;
    font-size: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

footer {
    font-style: italic;
    font-size: medium;
}

#categoriesForm {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

#categoriesForm input[type="checkbox"] {
    width: 25px;
    transform: scale(1.3);
}

.categoryDetails {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.categoryDetails > *:nth-child(4n + 3),
.categoryDetails > *:nth-child(4n + 4) {
  background-color: lightgray;
}

.noCategory,
.categoryItem label {
    font-weight: bold;
    font-size: large;
}

.addItemBtn,
.addCategoryBtn {
    border: 1px solid black;
    text-decoration: none;
    padding: 2px 8px;
    background-color:bisque;
    border-radius: 4px;
}

.itemsTitle,
.categoriesTitle {
    margin: 1rem 0;
}

.noCategoryAnchor,
.categoryItem a {
    padding: 2px 8px;
    margin: .2rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color:bisque;
    text-decoration: none;
}

.indexSeparator {
    margin: 2rem 0;
}

.categoryDetails p {
    font-style: italic;
}

.categoryDetails * {
    padding: .8rem;
}

.category-create-validation {
    color: red;
}
