<header class="header-login">
    <h1 class="logo">File uploader</h1>
    <div class="login-info">
        <p class="username"><%= currentUser.firstname %> <%= currentUser.lastname %></p>
        <a class="logout" href="/logout">log out</a>
    </div>                
</header>