#root {
  margin: 0 auto;
  padding: 2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-evenly;
}

.headerInfo h3 {
  font-size: 3rem;
  color: burlywood;
}

.headerInfo p {
  font-style: italic;
  font-size: large;
  color: bisque;
}

.scoreBoard {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.5rem;
}

.easySelector {
  display: flex;
  align-items: center;
}

.easySelector input {
  margin: 1rem;
  width: 2rem;
  height: 2rem;
}

.easySelector label {
  white-space: nowrap;
}

.bestScore {
  white-space: nowrap;
}

.scoreInfo {
  display: flex;
  flex-direction: column;
}

.customiseSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customiseSelector button {
  padding: 8px 15px;
  border-radius: 4px;
}

.cards {
  width: 85%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
    
  gap: 1rem;
}

.cards button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button > img {
  width: 14rem;
  height: auto;
}

.loading {
  font-size: 2rem;
}

.loading p {
  font-size: 1rem;
}

.loading p b {
  color: burlywood;
}

.easyBtn {
  width: 15rem;
  height: 20rem;
  font-size: 10rem;
}

@media (width < 700px) {
  .scoreBoard {
    flex-direction: column;
  }
}