#root {
  margin: 0 auto;
  padding: 2rem;
  --primary-color: burlywood;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-evenly;
}

.headerInfo h3 {
  font-size: 3rem;
  color: var(--primary-color);
}

.headerInfo p {
  font-style: italic;
  font-size: large;
  color: bisque;
}

.scoreBoard {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.5rem;
}

.easySelector {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.easySelector input {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.easySelector label,
.bestScore,
.score,
.new-batch button {
  white-space: nowrap;
  color: var(--primary-color);
}

.scoreInfo {
  display: flex;
  flex-direction: column;
}

.customiseSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customiseSelector button {
  padding: 8px 15px;
  border-radius: 4px;
}

.cards {
  width: 85%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  max-height: 22rem;
}

.card h4 {
  margin-bottom: 1.5rem;
}


button > img {
  width: 14rem;
  height: auto;
}

.loading {
  font-size: 2rem;
}

.loading p {
  font-size: 1rem;
}

.loading p b {
  color: burlywood;
}

.card-content {
  width: 15rem;
  height: 20rem;
  font-size: 10rem;
}

@media (width < 700px) {
  .scoreBoard {
    flex-direction: column;
  }
}