<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Log in</title>
</head>
<body>
    <main>
        <h1>Log in</h1>
        <% if (locals.errors) { %> 
            <% errors.map(error => { %>
                <li><%= error.msg %></li>
            <%})%>
        <% } %>
        <Form action="/login" method="post">
            <label for="email">Email
                <input id="email" type="email" name="email" required />
            </label>
            <label for="password">Password
                <input id="password" type="password" name="password" required />
            </label>
            <button type="submit">Log in</button>
        </Form>
        <hr />
        <div class="signUpLink">
            <p>Don't have an account? <a href="/register">Register</a></p>
            <p>Copyright &copy <%= new Date().getFullYear() %></p>
        </div>
    </main>
</body>
</html>