:root {
    --primary-color: bisque;
}

.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.logo {
    margin-left: 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.homeBtn,
.cartBtn {
    font-size: 2rem;
    background-color: var(--primary-color);;
    border: none;
    margin-right: 10px;
}

.homeBtn:hover,
.cartBtn:hover {
    scale: 1.1;
}

.cartCount {
    font-size:1.3rem;
    margin-left: .5rem;
}