<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/join.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Join the club to reveal more!</h1>
    <form action="/verify" method="POST">
        <p>Enter the text to join the club:</p>
        <img src="/captcha" alt="captcha" /><br><br>
        <input type="text" name="captcha" placeholder="Enter captcha" required />
        <button type="submit">Submit</button>
    </form>
</body>
</html>