.btn {
    background-color: red;
}

.primaryBg {
    background-color: #6E41E2
}

.secondaryBg {
    background-color: #FFFFFF
}
 
.primaryColor {
    color: black
}

.secondaryColor {
    color: #6E41E2
}