<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <title>Homepage</title>
    </head>
    <body>
        <%- include('navbar', { links: links }); %>
        <% users.forEach((user) => { %>
            <%- include('users/user', { user: user }); %>
        <% }) %>
    </body>
</html>