<h1 class="itemsTitle">Items:</h1>
<a class="addItemBtn" href="/itemAdd">New</a>
<% if (!locals.items || items.length === 0) { %>
    <h1>No Items.</h1>
<% } else { %>
    <% locals.items.map(item => { %>
        <li><%= item.name %></li>
    <%})%>
<% } %>